# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/

# Virtualenv metadata
pip-log.txt
pip-wheel-metadata/

# Byte-compiled / optimized / DLL files
*.py[cod]

# Unit test / coverage reports
.pytest_cache/
coverage.xml
htmlcov/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Editors
.vscode/
.idea/
*.swp

# Cache
.cache/

# Dist and build
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Other
*.sqlite3
